<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RofL</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">RofL</a>
        </div>
        <div class="navbar-collapse collapse">
        </div>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h3>Champion power curves</h3>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th></th>
                <th class="red">Champion1</th>
                <th>vs</th>
                <th class="blue">Champion2</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td>
                  <select class="form-control" id="champion1">
                    <% @champions.each do |champion| %>
                      <option name="<%= champion.name %>" value="<%= champion.name %>"><%=champion.name%></option>
                    <% end %>
                  </select>
                </td>
                <td></td>
                <td>
                  <select class="form-control" id="champion2">
                    <% @champions.each do |champion| %>
                      <option name="<%= champion.name %>" value="<%= champion.name %>"><%=champion.name%></option>
                    <% end %>
                  </select>
                </td>
              </tr>
              <% @properties.each do |property| %>
              <tr id="prop_<%=property[0]%>">
                <th><%= property[1] %></th>
                <td>
                  <span id="champion1_<%=property[0]%>"></span>
                  <% if property[2] %>
                    <span class="perlevel">(+<span id="champion1_<%=property[0]%>perlevel"></span>)</span>
                  <% end %>
                </td>
                <td></td>
                <td>
                  <span id="champion2_<%=property[0]%>"></span>
                  <% if property[2] %>
                    <span class="perlevel">(+<span id="champion2_<%=property[0]%>perlevel"></span>)</span>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="col-md-6">
          <% @charts.each do |(attribute, name)| %>
          <div class="row">
            <h3><%=name%></h3>
            <canvas id="<%=attribute%>" width="500" height="200"></canvas>
          </div>
          <% end %>
        </div>
      </div>
      <div class="footer">
        <p>&copy; Friday Inc. <%= Time.now.year %> Data Patch Version: <%= @patch %></p>
      </div>

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')</script>
    <script src="js/main.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="js/chart.min.js"></script>
  </body>
</html>

